.container {
  position: relative;
}

.definition {
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-content: stretch;
  width: 100%;
}

.predecessor {
  flex: 0 1 auto;
  font-size: 1rem;
  min-width: 5em;
  display: block;
  position: relative;
}

.production {
  position: relative;
  flex: 1 1 auto;
  font-size: 1rem;
  display: block;
}

.predecessor,
.production {
  outline: none;
  padding: 1rem;
  min-height: 3rem;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.remove {
  position: absolute;
  font-weight: 200;
  top: 0;
  right: 0;
  font-size: 1rem;
  padding: 1rem;
  color: rgba(#fff, 0.6);

  &:hover {
    color: #fff;
  }
}
