.workspace {
  height: 100vh;
  width: 100vw;

  .upstage {
    height: 100%;
    width: 100%;
    padding-bottom: 75px;
    display: flexbox;
    flex-flow: row;
  }

  .downstage {
    height: 75px;
    width: 100%;
    margin-top: -75px;
  }
}

