.scrub {
  position: relative;
  width: 100%;
  height: 100%;

  button {
    outline: 0;
  }
}

.track {
  width: 100%;
  height: 5px;
  background: lighten(#2c3e50, 10%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.actions {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.primary {
  font-size: 2rem;
  position: relative;
  text-align: center;
  color: #fff;
  line-height: 1em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin: 0 1em;
  padding: 1.5em 0;
  background: #e67e22;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 0 5px #fff;
  }
}

.secondary {
  background: none;
  color: lighten(#2c3e50, 10%);
  border: none;
  border-radius: 50%;

  &:hover {
    color: #fff;
  }
}
