.workspace {
  height: 100vh;
  width: 100vw;
}

.upper {
  height: 100%;
  width: 100%;
  padding-bottom: 75px;
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.lower {
  height: 75px;
  width: 100%;
  margin-top: -75px;
}

.toolboxContainer {
  order: 0;
  flex: 0 1 25%;
  max-width: 480px;
}

.stageContainer {
  order: 1;
  flex: 1 1 auto;
}

.scrubContainer {
  width: 100%;
  height: 100%;
}
